@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
}

.lessons {
    background-color: seashell;
    padding: 1em;
    margin-bottom: 1em;
}

.container {
    max-width: 960px;
    max-height: 600px;
    margin: auto;
    height: 1vh;
    background-color:seashell;
}

.panel {
    background-color: seashell;
    padding: 1em;
    padding-top: 5em;
}

div.excercises {
    background-color: seashell;
    padding: 1em;
    padding-bottom: 5em;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:seashell;
}

.panel.flex-container {
    justify-content: space-between;
}

img.picture {
    height: 200px;
}

h2 {
    margin: 0.5em 0;
    font-size: 2em;
}

#german {
    color: #aaa
}

#german::before {
    content: 'de';
    color: red;
    font-size: 0.7em;
    margin-right: 1em;
}

#english::before {
    content: 'en';
    color: blue;
    font-size: 0.7em;
    margin-right: 1em;
}

button {
    padding: 0.5em 1em;
    font-size: 1.2rem;
    border-radius: 6px;
}

button.active {
    background-color: cyan;
}

.card {
    display: block;
    border: darkgray solid 1px;
    border-radius: 8px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
}

.card:hover {
    background-color: lightgoldenrodyellow;
}

.clicked {
    background-color: lightgoldenrodyellow;
}

.clicked.wrong, button.wrong {
    border-color: red;
    color: red;
}

.clicked.correct, button.correct {
    border-color: green;
    color: green;
}

.inline-result {
    margin-left: 1rem;
}

input[type="text"] {
    padding: 0.5em 1em;
    font-size: 1.2rem;
    border-radius: 6px;
}

input[type="text"].english::before {
    content: 'en';
    color: blue;
    font-size: 0.7em;
    margin-right: 1em;
}

select {
    padding: 0.5em 1em;
    font-size: 1.2rem;
    border-radius: 6px;
}

table {
    width: 80%;
}

th {
    text-align: left;
    font-size: 1.2rem;
    line-height: 2em;
}

th.german {
    color: red;
}

th.english {
    color: blue;
}

td {
    width: 50%;
    font-size: 1.75em;
    line-height: 2em;
    padding-right: 2.5em;
    white-space: nowrap;
}

td.german {
    color: #888
}